venv
__pycache__/
 **/__pycache__/
.DS_Store
data/token_hf.json
data/tfmorchestator_key.pem
dataset/**/**
chroma_db/**
hf_models/**
sqlite/**
data/id_counter.txt
data/monitor.pid
data/event_queue.json
